<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Browse Books</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/productform.css}" />
	<style>
		td img {
			width: 25px;
			display: inline-block;
		}
	</style>
</head>
<body>
    <div class="product-container">
		<div class="brand">Bookstore</div>
        
		<div class="tagline">Your gateway to great reads</div>
		<h1>Browse Available Books</h1>
		
		<div th:if="${successMessage}" style="color: green; font-weight: bold;">
			<p th:text="${successMessage}"></p>
		</div>

		<table class="product-table">
		          <thead>
		              <tr>
		                  <th>Title</th>
		                  <th>Author</th>
		                  <th>Genre</th>
		                  <th>Format</th>
		                  <th>Price</th>
						  <th>ISBN</th>
		                  <th>Stock</th>
						  <th>Actions</th>
		              </tr>
		          </thead>
		          <tbody>
		              <tr th:each="book : ${products}">
		                  <td th:text="${book.title}">Title</td>
		                  <td th:text="${book.author}">Author</td>
		                  <td th:text="${book.genre}">Genre</td>
		                  <td th:text="${book.format}">Format</td>
		                  <td th:text="${book.price}">0.00</td>
						  <td th:text="${book.isbn}">ISBN</td>
		                  <td th:text="${book.stock}">0</td>
						  <td>
							<a th:href="@{../products/update(id=${book.id})}" style="text-decoration: none;">
								<img src="/images/update.png" alt="Update">
							</a>
							<a th:href="@{../products/delete(id=${book.id})}" style="text-decoration: none;">
								<img src="/images/delete.png" alt="Delete">
							</a>
						  </td>
		              </tr>
		          </tbody>
		      </table>

		      <a href="/" class="btn-primary">Back to Main Page</a>
    </div>
</body>
</html>
