<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>
	<link rel="stylesheet" type="text/css" href="/css/userforms.css">
</head>
<body>

<div class="register-container">
    <div class="brand">Bookstore</div>
    <div class="tagline">Your gateway to great reads</div>
    <h1>New Account Creation</h1>

    <form th:action="@{/register}" th:object="${newUser}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" required>
        </div>
		
		<div>
		    <label for="email">Email</label>
		    <input type="text" id="email" th:field="*{email}" required>
		</div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
		
		<div>
		    <label for="phone">Phone Number</label>
		    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required>
		</div>
		
		<div th:if="${registerError != null}" class="error">
			<p th:text="${registerError}"></p>
		</div>

        <button type="submit">Submit</button>
    </form>
</div>

<footer>
    &copy; 2025 Bookstore. All rights reserved.
</footer>

</body>
</html>

